* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  letter-spacing: 0.8px;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #000;
}

canvas {
  outline: 1px solid #ffff0044;
}

#taskbar {
  position: relative;
  border-right: 1px solid #ffffff22;
}

#scene-select {
  padding: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

#scene-select h2 {
  font-size: 2.6rem;
  color: gray;
  border-bottom: 1px solid gray;
}

#scene-select button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.2rem;
  padding-block: 8px;
  border-bottom: 1px solid #ffffff33;
  text-align: start;
  cursor: pointer;
}

#canvas-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
